<mat-toolbar color="primary" class="navbar">
    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="minispacer"></span>
        <span class="mat-headline">Movie browser</span>
    </button>
    <span class="minispacer"></span>
    <mat-form-field appearance="outline" class="searchbox">
        <mat-label class="mat-caption">Search for movies</mat-label>
        <input matInput 
            #searchQuery
            placeholder="Eg. Batman Origins"
            (keyup.enter)="search(searchQuery.value)"
            >
        <mat-icon matSuffix (click)="search(searchQuery.value)">search</mat-icon>
    </mat-form-field>
</mat-toolbar>
<router-outlet></router-outlet>
